*{
    font-family: "Montserrat", sans-serif;
    color: var(--thirdColor);
}

h1{
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 48px !important;
}

/* h2, h3, h4, h5, h6, p, .h1, .h2, .h3, .h4, .h5, .h6{
    font-family: "Roboto Slab", serif;
} */

/* Variabili */
:root{
    --mainColor: #122044;
    --secondColor: #FFED00;
    --thirdColor: rgb(241, 241, 241);
}


/* classi precompilate con variabili*/


.bg-mainColor{
    background-color: var(--mainColor);
}

.bg-secondColor{
    background-color: var(--secondColor);
}

.bg-thirdColor{
    background-color: var(--thirdColor);
}




/* customizzazioni header */

.custom-bg-img{
    background-image: url(./media/bg-1.jpg);
    height: 100vh;
}

/* BOX 1 */

.custom-box-1{
    margin-top: 10px;
    /* background-color: ; */
}

.custom-logo{
    width: 20%;
    margin-top: 30px;
}

.custom-h6{
    margin-top: 35px;
}

.custom-h1{
    margin-top: 20px;
    font-size: 60px;    
}

.custom-fa-icon{
    font-size: 40px;
    color: var(--secondColor);
}

.custom-date{
    font-size: 25px;
    font-weight: 700;
    
}

.custom-p{
    margin-top: 5px;
    margin-left: 45px;
    font-size: 15px;
    font-weight: normal;
}

.custom-btn{
    border: solid;
    color: var(--secondColor);
    margin-top: 30px;
}

.custom-btn:hover{
    color: var(--thirdColor);
    border: solid;
    background-color: var(--mainColor);
}


/* BOX 2 */

.custom-box-2{
    height: 500px;
}

.custom-cabinet{
    position: relative;
    width: auto;
}


/* SECTION 1 */

/* BOX 3 */

.custom-section-bg{
    background-color: var(--mainColor);
    height: 100vh;
}

.custom-section-cabinet{
    height: 370px;
    width: 300px;
}







/* Media queries */

@media screen and (max-width: 768px) {

/* HEADER */

    .custom-bg-img{
        height: auto;
    }

    .custom-logo{
        width: 80%;
        margin-top: 10px;
        margin-left: 10%;
    }

    .custom-fa-icon{
        margin-left: 40px;
    }

    .custom-btn{
        margin-left: 40px;
    }

    .custom-box-2{
        height: 300px;
    }

    

/* SECTION 1 */

    .custom-section-bg{
        height: auto;
    }

}

