*{
    font-family: "Montserrat", sans-serif;
    color: var(--thirdColor);
}

h1{
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 48px !important;
}

/* h2, h3, h4, h5, h6, p, .h1, .h2, .h3, .h4, .h5, .h6{
    font-family: "Roboto Slab", serif;
} */

/* Variabili */
:root{
    --mainColor: #131e39;
    --secondColor: #FFED00;
    --thirdColor: rgb(241, 241, 241);
}


/* classi precompilate con variabili*/


.bg-mainColor{
    background-color: var(--mainColor);
}

.bg-secondColor{
    background-color: var(--secondColor);
}

.bg-thirdColor{
    background-color: var(--thirdColor);
}


.mainColor{
    color: var(--mainColor);
}

.secondColor{
    color: var(--secondColor);
}

.thirdColor{
    color: var(--thirdColor);
}


/* HEADER */

.header-bg-img{
    background-image: url(./media/bg-1.jpg);
    height: 100vh;
}

/* BOX 1 */

.custom-box-1{
    margin-top: 10px;
    /* background-color: ; */
}

.custom-logo{
    width: 20%;
    margin-top: 30px;
}

.custom-h6{
    margin-top: 35px;
}

.custom-h1{
    margin-top: 20px;
    font-size: 60px;    
}

.custom-fa-icon{
    font-size: 40px;
    color: var(--secondColor);
}

.custom-date{
    font-size: 25px;
    font-weight: 700;
    
}

.custom-p{
    margin-top: 5px;
    margin-left: 45px;
    font-size: 15px;
    font-weight: normal;
}

.custom-btn{
    border: solid;
    color: var(--secondColor);
    margin-top: 30px;
}

.custom-btn:hover{
    color: var(--thirdColor);
    border: solid;
    background-color: var(--mainColor);
}


/* BOX 2 */

.custom-box-2{
    height: 500px;
}

.custom-cabinet{
    position: relative;
    width: auto;
}


/* SECTION 1 */

/* BOX 3 */

.section1-bg-img{
    background-color: var(--mainColor);
    height: 100vh;
}

.custom-section-cabinet{
    height: 370px;
    width: 300px;
}

/* SECTION 2 */

.section2-bg-img{
    background-image: url(./media/bg-2.jpg);
    height: 100vh;
}

            /* BOX 5 */

.custom-box-5{
    background-color: var(--mainColor);
    height: 110vh;
}

.custom-section2-calendar-icon{
    font-size: 50px;
    background-color: var(--secondColor);
    padding-top: 15px;
    padding-left: 17px;
    padding-right: 17px;
    padding-bottom: 15px;
}

/* FORM */

.custom-form{
    /* height: 65vh; */
}


.border-bottom{
    border-bottom-color: darkmagenta !important;
}

.custom-contatto{
    width: 20%;
    background-color: var(--mainColor);
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: darkmagenta;
}

.custom-contatto2{
    width: 77%;
    background-color: var(--mainColor);
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: darkmagenta;
}

.custom-btn-2{
    border: solid;
    background-color: var(--secondColor);
    color: var(--mainColor);
    width: 98vw;
}

.custom-btn-2:hover{
    color: var(--thirdColor);
    border: solid;
    background-color: var(--mainColor);
}

.form-control{
    background-color: var(--mainColor);
    border: none;
    border-radius: 0%;
}

.form-control::placeholder{
    color: #8B909C;
}

.custom-subtitles{
    font-size: 11px;
}

/* SECTION 3 */

.section3-bg-img{
    background-color: #06060d;
    height: 85vh;
}

.logo-aulab-futur{
    max-width: 65%;
}

/* SECTION 4 */

.section4-bg-img{
    background-image: url(./media/bg-3.jpg);
    height: 100vh;
    min-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
    

/* BOX 8 */

.box8-margin{
    margin-top: 120px;
}

/* BOX 9 */

.box9-margin{
    margin-top: 50px;
}

.box9-img{
    height: 400px;
}

/* FOOTER */

footer{
    height: 25px;
    background-color: var(--mainColor);
}







/* Media queries */

@media screen and (max-width: 1300px) {

    
    .custom-box-5{
        height: auto;
        width: 50vw;
    }

    .section3-bg-img{
        height: 100vh;
    }
    
}

@media screen and (max-width: 760px) {
    
    /* HEADER */

    .header-bg-img{
        height: auto;
    }

    .custom-logo{
        width: 80%;
        margin-top: 10px;
        margin-left: 10%;
    }

    .custom-fa-icon{
        margin-left: 40px;
    }

    .custom-btn{
        margin-left: 40px;
    }

    .custom-box-2{
        height: 300px;
    }

    

/* SECTION 1 */

    .section1-bg-img{
        height: auto;
    }

/* SECTION 2 */

    .custom-box-5{
        height: auto;
        width: 100vw;
    }



/* FORM */

    .section2-bg-img{
        height: auto;
    }

    .custom-contatto{
        width: 23%;
    }

    .custom-contatto2{
        width: 70%;
    }

    .form-check-label{
        font-size: 11px;
    }



/*  SECTION 3 */

    .section3-bg-img{
        height: auto;
    }
    
/* SECTION 4 */

    .section4-bg-img{
        height: auto;
    }

/* BOX 9 */

    .box9-img{
        max-width: 70%;
        height: auto;
        margin-left: 15%;
    }

/* FOOTER */

    footer{
        
    }

    .footer-font-size{
        font-size: xx-small;
        max-width: 90%;
        height: auto;
    }

}

